@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@inject FA.JustBlog.Core.Repository.UnitOfWork.IUnitOfWork _unitOfWork
@using FA.JustBlog.Core.Models


<div class="vh-100">
    <div class="container my-5">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">List Tag</h6>
                <button data-bs-toggle="modal" data-bs-target="#addTag" class="btn btn-primary"><i class="fa-solid fa-plus"></i> <span>Create New</span></button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Data)
                            {
                                <tr>
                                    <td>@item.TagId</td>
                                    <td>@item.TagName</td>
                                    <td class="text-center w-25">
                                        <a asp-action="TagDetail" asp-controller="Tag" asp-route-id="@item.TagId" class="btn btn-warning"><i class="fas fa-eye"></i></a>
                                        <a asp-action="Edit" asp-controller="Tag" asp-route-id="@item.TagId" class="btn btn-success mx-2" type="button"><i class="far fa-edit"></i></a>
                                        <a onclick="return confirm('Are you sure to delete ?');" asp-action="Delete" asp-controller="Tag" asp-route-id="@item.TagId" class="btn btn-danger" type="button"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!-- Modal -->
                    @model TagModelView
                    <div class="modal fade" id="addTag" tabindex="-1" aria-labelledby="addTag" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="addTag">Add New Tag</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form asp-action="Create">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="TagName" class="control-label"></label>
                                            <input asp-for="TagName" class="form-control" />
                                            <span asp-validation-for="TagName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Description" class="control-label"></label>
                                            <input asp-for="Description" class="form-control" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Count" class="control-label"></label>
                                            <input asp-for="Count" class="form-control" />
                                            <span asp-validation-for="Count" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pager-->
                    @{
                        Func<int?, string> generateUrl = (int? _pagenumber) =>
                        {
                            return Url.ActionLink("Index", null, new { page = _pagenumber });
                        };
                        var datapaging = new
                        {
                            currentPage = ViewBag.pageNumber,
                            countPages = ViewBag.totalPages,
                            generateUrl = generateUrl
                        };
                    }
                    <partial name="_Paging" model="@datapaging" />
                </div>
            </div>
        </div>
    </div>
</div>


